<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" type="text/css" href="web/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="web/bootstrap.min.css">
    <script src="web/angular.min.js"></script>
    <script src="web/app.js"></script>
    <title>Timetable app</title>
</head>

<body ng-app="TimetableApp">

    <div class="container" ng-controller="tableController">
        <form>
            <span class="form-group">
                <input type="text" id="className" ng-model="className" placeholder="Enter class name">
            </span>
            <button class="btn btn-primary" ng-click="getTimeTableByClassName(className, false)">Get
                timetable</button>

            <button class="btn btn-primary" ng-click="getTimeTableByClassName(className, true)">Adjust
                timetable</button>
            <span style="float:right" class="form-group">
                <label for="extraTeachers">Extra teachers required</label>
                <input type="text" id="extraTeachers" ng-model="extraTeachersRequired"
                    placeholder="0" readonly>
            </span>
        </form>
        
        <div ng-if="classWiseTable" class="container">
            <h1>{{heading}}</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col" ng-repeat="day in days">{{day}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(time, cols) in classWiseData">
                        <th scope="row">{{time}}</th>
                        <td ng-repeat="col in cols track by $index">{{col}}</td>
                    </tr>
            </table>
        </div>

    </div>

</body>

</html>